html {
  color: white;
  background-image: url('images/back2.png');
}

* {
  font-family: 'Tahoma';
}

h1 {
  text-align: center;
  font-weight: 600;
  font-style: bold;
  color: crimson;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
}

#videos {
  margin:auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}